body {
  font-family: $main-font, sans-serif;
  background-color: $primary-background-color;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $primary-text-color;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section__title {
  margin-top: 0px;
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
