$main-font:'Roboto';
$secondary-font:'Raleway';
$primary-text-color: #212121;
$secondary-text-color: #2196f3;
$btn-hover-color: #188ce8;
$tertiary-text-color: #757575;
$primary-white-color: #fff;
$primary-black-color:#000;
$footer-adress-contact-color: rgba(255, 255, 255, 0.6);
$primary-background-color: #fff;
$secondary-background-color: #2f303a;
$tertiary-background-color: #f5f4fa;
$works-item-border-color: #eeeeee;
$hero-button-shadow-color: rgba(0, 0, 0, 0.15);
$header-border-color: #ececec;
$icon-main-color: #afb1b8;
$main-animation: cubic-bezier(0.4, 0, 0.2, 1);
$modal-backdrop-color: rgba(0, 0, 0, 0.2);
$btn-close-border-color: rgba(0, 0, 0, 0.1);
$form-field-border-color: rgba(33, 33, 33, 0.2);
